@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.ui-menu-color {
    background-color: #C0C0C0;
}


/*-----General------------*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

/*--------------------------------------------Heading*/

header {
    background-color: #C0C0C0;
    margin: 0;
}

.logo {
    padding: 5px;
    margin: 0px auto;
    background: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

/*----fa fa font size*/
.menuitem a i {
    padding-top: 25px;
    display: block;
    font-size: 25px;
}

/*----menu item font size*/
.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;  
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------End Heading*/

/*--------------------------------------------Hover.css*/

/*----heading menu items---*/
.hvr-sweep-to-bottom:before {
    background: #808080;
    height: 120px;
}


/*--------------------------------------------Footer */
footer {
    background-color: #C0C0C0;
    min-height: 120px;
    margin: 0;
}

.timeout {
    padding-top: 10px;
    float: left;
}

.social {
    padding-top: 10px;
    text-align: center;
    float: right;
}

.social-links {
    color: #fafafa;
    text-decoration: none;
    padding-left: 15px;
    float: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
     background: rgba(0, 0, 0, 0.2);
}

#footer-details {
    margin: 20px;
}

/*---------End Footer--------*/